.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

/* initial screen */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #986dff;
    font-size: 3em;
    animation: fallOut 1.5s ease 1.5s forwards; /* espera 2s, depois cai em 1.5s */
    z-index: 10;
}

@keyframes fallOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* gradient */

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", serif;
    background: linear-gradient(45deg, var(--gradient-bg-color-1), var(--gradient-bg-color-2), var(--gradient-bg-color-1), var(--gradient-bg-color-2));
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

:root {
    --main-color: white;
    --sec-color: #986dff;
    --background-color: #0b0b0b;
    --gradient-bg-color-1: #0C0C0C;
    --gradient-bg-color-2: rgb(20, 6, 20);
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*Responsividade*/

/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Responsividade para telas médias*/

@media (max-width: 992px) { 

.top {
    height: auto;
    padding: 10px;
}

.mid {
    flex-direction: column;
    align-items: center;
}

.skill {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center; /* Centraliza os itens */
     gap: 10px; /* Espaçamento entre os elementos */
}

.ad {
    flex: 1 1 auto; /* Permite ajuste de tamanho automático */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 110px; /* Evita que fiquem muito grandes */
}

.button-container {
    align-items: center;
}

.proj {
    flex-direction: column;
    align-items: center;
}

.proj_urna, .proj_port {
    width: 90%;
    max-width: 300px;
    margin-top: 1000px;
}
} 

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .top {
        height: auto;
        padding: 10px;
    }

    .mid {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center; /* Centraliza os itens */
        gap: 10px; /* Espaçamento entre os elementos */
}

    .ad {
        flex: 1 1 auto; /* Permite ajuste de tamanho automático */
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 120px; /* Evita que fiquem muito grandes */
    }

    .button-container {
        align-items: center;
    }

    .proj {
        flex-direction: column;
        align-items: center;
    }

    .proj_urna, .proj_port {
        width: 90%;
        max-width: 300px;
        margin-top: 1000px;
    }
}

@media (min-width: 500px) {
    .btn-lang {
        width: 30px;
        height: 25px;
    }

    .imag {
        width: 20px;
        height: 20px;
    }

    .desc {
        font-size: 8px;
    }

    .skill {
        grid-template-columns: auto;
        justify-content: center; /* Centraliza os itens */
        gap: 10px; /* Espaçamento entre os elementos */
}

    

    .proj_urna, .proj_port {
        width: 100%;
        text-align: center;
    }
}

html {
    display: flex;
    justify-content: center;
}

/* top */

.top{
    width: 100%;
    height: 50px;
    color: white;
    border-bottom: 2px solid #986dff;
    display: flex;
    justify-content: space-between;
}


#btn-pt{
    background-image: url(/img/brasil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    font-size: 18px;
    cursor: pointer;

    width: 60px;
    height: 30px;
}

#btn-en{
    background-image: url(/img/reino-unido.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    font-size: 18px;
    cursor: pointer;

    width: 60px;
    height: 30px;
}

/* middle */



/* description */

.mid-l{
    display: flex;
    background-color: #0C0C0C;
    color: white;
    border: 1px solid #986dff;
    text-align: center;
    max-width: 750px;
    max-height: 30%;
    margin: 15px;
}

.imag{
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 100%;
}

.desc{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.qm{
    color: #986dff;
    display: flex;
    justify-content: baseline;
}

.nm, .bed{
    display: flex;
    justify-content: baseline;
}

.button-container {
    display: flex;
    gap: 15px; 
    margin-top: auto;
    margin-left: -320px;
    margin-bottom: 20px;
    grid-column: auto;
}

.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #986dff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #7a56d1;
    transform: scale(1.05);
}

/* skill */



.skill{
    display: grid;
    grid-template-columns: auto auto;
}

.ha{
    color: #986dff;
    display: flex;
    position: absolute;
}

.ad{
    width: 110px; 
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #212121;
    margin-bottom: -50px;
    text-align: center;
    border-top-left-radius: 40px;
    margin-top: 80px;
    cursor: pointer;
    transition: 0.2s;
}

/* line gradient */

.ad::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    bottom: -0.1rem;
    left: 0
}

.ad:hover{
    transform: scale(1.1, 1.1);
    transition: transform 0.25s;
}


/* eletronic voting machine preject */

.proj{
    display: flex;
    grid-column: auto;
    margin: 20px;
}

.nmproj{
    color: #5659D1;
    margin-top: 50px;
}

.proj_urna {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    width: 200px; /* Defina um tamanho fixo ou responsivo */
    margin: 20px;
    max-height: 220px;
    text-align: center;
    border: 2px solid rgb(146, 36, 36);
}

.ur{
    color: red;
    margin: 10px;
}


.desc_proj_ur{
    margin: 10px;
}

.desc_proj_port{
    margin: 10px;
}

.proj_urna a{
    text-decoration: none;
    color: white;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

/* portfolio project */

.proj_port{
    max-height: 220px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: center;
    border: 2px solid rgb(37, 37, 170);;
    margin-left: 20px;
}


.proj_port a{
    text-decoration: none;
    color: white;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}


.po{
    color: rgb(37, 37, 170);
    margin: 10px;
}

.proj_port a{
    text-decoration: none;
    color: white;
    margin: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

